.main_grid{
    background-color: darkseagreen;
}

.button{
    background-color:darkgreen;
}

.login{
    font-family: 'Arial', Courier, monospace;
    font-weight: bold;
}

.user_input_box{
    color: darkslategrey;
    background-color: whitesmoke;
}

.pass_input_box{
    color: darkslategrey;
    background-color: whitesmoke;
}